a {
  text-decoration: none;
}

mat-form-field {
  //   margin-left: 10px;
}

mat-form-field {
  width: 300px;
  height: -10px;
}

.imgAttach {
  margin-left: 10px;
}

.button-row button {
  margin: 10px;
}

mat-form-field {
  width: 19vw !important;
  // height: -10px;
}

.form-container {
  padding: 20px;
}

.btn-plis {
  line-height: 30px;
}

.btn-round {
  border-radius: 100%;
  margin-top: -15px;
}

table {
  width: 100%;
}

.label-custom {
  font-weight: 700;
  font-size: 15px;
  margin-left: -15px;
}

.td-cell {
  padding-left: 0px;
}

.err-msg {
  color: red;
  font-size: 15px;
  font-weight: 700;
}
