<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card>
    <div class="lightgray-back form-container">
    <label id="logo" fxLayoutAlign="center center">
      <img class="row" src="../../../../assets/images/logo.png"/>
    </label>
      <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
        <p class="text-danger">
          {{emailValidation}}
        </p>
          <mat-form-field class="col-12">
            <input type="email" id="email" [(ngModel)]="otp.sentTo" name="email" required matInput placeholder="Enter email">
          </mat-form-field>

          <button id="sendButton" mat-raised-button (click)="sendOtp()" type="submit"class="btn btn-info" >Send Reset Email</button>

          <br>
          <div class="col-12">
            <a 
            style="text-decoration: none; color: black;"
            href="login">Login Form
          </a>
          </div>

        </form>
        </div>
  </mat-card>
  
</div>