<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
      <label id="logo" fxLayoutAlign="center center">Khotto</label>
      <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
          <mat-form-field>
            <input type="email" id="email" [(ngModel)]="otp.sentTo" name="email" required matInput placeholder="Enter email">
          </mat-form-field>

          <button id="sendButton" mat-raised-button (click)="sendOtp()" type="submit" color="primary"  >Send</button>
        </form>
  </mat-card>
  
</div>