.main-div {
    background-color: lightgrey;
}

.main-div mat-card {
    padding: 0px;
    background-color: white;
    border-radius: 10px;
}

#logo {
    padding: 50px;
    font-size: large;
    font-style: italic;
}

.login-form {
    padding: 20px;
}

// #sendButton {
//     background-color: #e1713f;
// }
