<button mat-button class="btn btn-primary" routerLink="/users">View Users</button>
<br />
<hr>
<br />

<div class="lightgray-back form-container">
  <form class="row" [formGroup]="addUserForm" autocomplete="off">
     <br>
    <!-- First Name -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="Enter First Name"
        type="text"
        formControlName="firstName"
        value="{{userDetails.firstName}}"
        readonly
      />
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Enter Last Name"
        type="text"
        formControlName="lastName"
        value="{{userDetails.lastName}}"
        readonly
      />
    </mat-form-field>

    <!-- Mobile No -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter Email "
        type="text"
        formControlName="email"
        value="{{userDetails.email}}"
        readonly
        autoComplete="off"
      />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Mobile Number</mat-label>
      <input
        matInput
        placeholder="Enter Mobile Number"
        type="email"
        formControlName="mobileNo"
        value="{{userDetails.mobileNo}}"
        readonly
      />
    </mat-form-field>

    <!-- Password 01 -->
    <!-- <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter Password"
        type="password"
        formControlName="password"
        required
      />
    </mat-form-field> -->

     <!-- Password 02 -->
     <!-- <mat-form-field
     class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
     appearance="fill"
   >
     <mat-label>Re - Password</mat-label>
     <input
       matInput
       placeholder="Re-Enter Password"
       type="password"
       formControlName="password2"
       required
     />
   </mat-form-field> -->

   <!-- Provider Type -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>User Type</mat-label>
      <input
        matInput
        placeholder="Enter Password"
        type="text"
        formControlName="password"
        value="{{userDetails.serviceUserTypeName}}"
        readonly
      />
    </mat-form-field>

    <!-- <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
      *ngIf="providerType"
    >
      <mat-label>Select Provider</mat-label>
      <input
        matInput
        placeholder="Enter Password"
        type="password"
        formControlName="password"
        required
      />
    </mat-form-field> -->
  </form>
</div>
