a {
  text-decoration: none;
}
table {
  width: 100%;
}

.fa-external-link {
  color: #0069d9;
}

.fa-edit {
  color: #12d900;
}

.fa-trash {
  color: #d90000;
}

.fa:hover {
  // cursor: pointer;
}

.modal-text {
  font-size: 17px;
  color: #171717;
}

.modal-text-head {
  font-size: 20px;
  color: #d90000;
}

.view-modal-text-head {
  font-size: 20px;
  color: #12d900;
}
