.main-div {
    background-color: lightgrey;
}

.main-div mat-card {
    padding: 0px;
    background-color:white;
    border-radius: 10px;
    max-width: 25%;
}

a {
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    display: flow-root;
}

#logo {
    padding: 0px;
    font-size: large;
    font-style: italic;
}

.login-form {
    padding:0px;
}

img {
    width: 35%;
    margin-top: 20px;
}

  
  mat-form-field {
    //   margin-left: 10px;
  }
  
  mat-form-field {
    width: 800px;
    height: -10px;
  }
  
  .imgAttach {
    margin-left: 10px;
  }
  
  .button-row button {
    margin: 10px;
  }
  
  mat-form-field {
    width: 29vw !important;
    // height: -10px;
  }
  
  .form-container {
    padding: 20px;
  }
  
  .btn-plis {
    line-height: 30px;
  }
  
  .btn-round {
    border-radius: 100%;
    margin-top: -15px;
  }
  
  table {
    width: 100%;
  }
  
  .err-msg {
    color: red;
    font-size: 15px;
    font-weight: 700;
  }


  @media only screen and (max-width: 600px) {
    .main-div mat-card {
      padding: 0px;
      background-color:white;
      border-radius: 10px;
      max-width: 98%;
      // max-height: 120%;
    }

    mat-form-field {
      width: 94vw !important;
      // height: -10px;
    }
  }
  
  



// #loginButton {
//     background-color: #e1713f;
// }

// #forgotPassword {
//     padding-left: 0px;
//     padding-top: 15px;
//     font-size: 11px;
// }

// #username {
//     color:white;
    
// }

// #password {
//     color:white;
// }