<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card>
    

    <div class="lightgray-back form-container">

      <label id="logo" fxLayoutAlign="center center">
        <img class="row" src="../../../../assets/images/logo.png"/>
      </label>

    <form
      class="row"
      fxLayoutAlign="stretch"
      fxLayout="column"
      autocomplete="off"
    >

    <div class="col-12">

      <p 
      class="text-danger" 
      style="text-align: center;">
        {{Validating}}
      </p>

    </div>
    

    <!-- <p class="text-danger">
      {{emailValidation}}
    </p> -->
      <mat-form-field
      class="col-12"
      appearance="fill"
      >

        <input
          type="email"
          id="username"
          [(ngModel)]="loginDto.username"
          name="username"
          required
          matInput
          placeholder="E-mail"
        />
      </mat-form-field>

      <mat-form-field
      class="col-12"
      appearance="fill"
      >
        <input
          matInput
          type="password"
          [(ngModel)]="loginDto.password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />

      </mat-form-field>
      
      <div
        class="col-12"
      >
      <button
        class="btn btn-info"
        id="loginButton"
        mat-raised-button
        (click)="singIn()"
        type="submit"
        style="width:100%;"
        
      >
        Login
      </button>

    </div>
    <br>
    <div class="col-12">
      <a 
      style="text-decoration: none; color: black;"
      href="forgot-password">Forgot Password ?
    </a>
    </div>

     
    </form>

  </div>
  </mat-card>
</div>
