.main-div {
    background-color: lightgrey;
}

.main-div mat-card {
    padding: 0px;
    background-color:white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-size: 11px;
    margin: 5px;
}

#logo {
    padding: 0px;
    font-size: large;
    font-style: italic;
}

.login-form {
    padding: 20px;
}

// #loginButton {
//     background-color: #e1713f;
// }

// #forgotPassword {
//     padding-left: 0px;
//     padding-top: 15px;
//     font-size: 11px;
// }

// #username {
//     color:white;
    
// }

// #password {
//     color:white;
// }