a {
    text-decoration: none;
  }
  
  mat-form-field {
    //   margin-left: 10px;
  }
  
  mat-form-field {
    width: 300px;
    height: -10px;
  }
  
  .imgAttach {
    margin-left: 10px;
  }
  
  .button-row button {
    margin: 10px;
  }
  
  mat-form-field {
    width: 19vw !important;
    // height: -10px;
  }
  
  .form-container {
    padding: 20px;
  }
  
  .btn-plis {
    line-height: 30px;
  }
  
  .btn-round {
    border-radius: 100%;
    margin-top: -15px;
  }
  
  table {
    width: 100%;
  }
  
  .err-msg {
    color: red;
    font-size: 15px;
    font-weight: 700;
  }
  
  .fa-external-link {
    color: #0069d9;
  }
  
  .fa-edit {
    color: #12d900;
  }
  
  .fa-trash {
    color: #d90000;
  }
  
  .modal-text {
    font-size: 17px;
    color: #171717;
  }
  
  .modal-text-head {
    font-size: 20px;
    color: #d90000;
  }