<button mat-button class="btn btn-primary" routerLink="/discount">
    View Discount
  </button>
  <br />
  <hr>
  <br />
  
  <div class="lightgray-back form-container">
    <form class="row" [formGroup]="addDiscountForm" autocomplete="off">

      <!-- Provider Type -->
      <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
      *ngIf="providerType"
    >
      <mat-label>Provider</mat-label>
      <input
          matInput
          placeholder="Provider Name"
          type="text"
          formControlName="providerTypeId"
          value="{{discountDetails.providerName}}"
          readonly
        />
    </mat-form-field>
  
     <!-- Provider Type -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Item</mat-label>
        <input
          matInput
          placeholder="Provider Name"
          type="text"
          formControlName="itemId"
          value="{{discountDetails.itemName}}"
          readonly
        />
      </mat-form-field>

      <!-- Discount -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Percentage</mat-label>
        <input
          matInput
          placeholder="Enter Category Name"
          type="number"
          formControlName="percentage"
          value="{{discountDetails.percentageOff}}"
        />
      </mat-form-field>

      <!-- start date -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Start Date</mat-label>
        <input
          matInput
          placeholder="Enter Category Name"
          type="datetime-local"
          formControlName="startDate"
          value="{{discountDetails.startDate}}"
        />
      </mat-form-field>

      <!-- end date -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>End Date</mat-label>
        <input
          matInput
          placeholder="Enter Category Name"
          type="datetime-local"
          formControlName="endDate"
          value="{{discountDetails.startDate}}"
        />
      </mat-form-field>
  
  
      <hr style="width: 100%" />
  
      <!-- Submit Button -->
      <mat-card-actions class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <button
          class="btn btn-danger"
          mat-raised-button
          color="danger"
          type="submit"
          (click)="onClear()"
          style="margin: 15px; padding: 5px 20px"
        >
          Clear
        </button>
        <button
          class="btn btn-sucess"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
          style="margin: 15px; padding: 5px 20px"
        >
          Edit
        </button>
      </mat-card-actions>
    </form>
  </div>
  