<a mat-button class="btn btn-primary" href="/dashboard/add-item">Add Item</a>
<mat-divider></mat-divider>
<br />

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.itemTypeId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <!-- Cover Image -->
  <ng-container matColumnDef="cover_image">
    <th mat-header-cell *matHeaderCellDef>Cover Image</th>
    <td mat-cell *matCellDef="let element">
      <img
      
        src="{{ element.coverImage }}"
        height="120"
        style="padding: 5px;"
        
      />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<br>

<button
        class="btn btn-success"
        mat-raised-button
        color="success"
        type="submit"
        (click)="onPreviewButton()"
        style="margin: 15px; padding: 0px 20px; float:left"
      >
       << Preview
      </button>

      <button
        class="btn btn-info"
        mat-raised-button
        color="success"
        type="submit"
        style="margin: 15px; padding: 0px 20px; float:left"
      >
      {{nextCount}}
      </button>


      <button
        class="btn btn-success"
        mat-raised-button
        color="success"
        type="submit"
        (click)="onNextButton()"
        style="margin: 15px; padding: 0px 20px; float:left"
      >
        Next >>
      </button>
