<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <label id="logo" fxLayoutAlign="center center">Khotto</label>
        <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <input type="number" id="username" [(ngModel)]="passwordResetDto.otpCode" name="otp" required matInput placeholder="OTP Number">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" id="password" [(ngModel)]="passwordResetDto.newPassword" name="password" required placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" id="password2" name="password2" required placeholder="Re-Password">
            </mat-form-field>
            <button id="loginButton" (click)="resetPassword()" mat-raised-button type="submit" color="primary" >Send</button>
          </form>
    </mat-card>
</div>