<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card>
        <div class="lightgray-back form-container">
        <label id="logo" fxLayoutAlign="center center">
            <img class="row" src="../../../../assets/images/logo.png"/>
          </label>
        <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field class="col-12">
              <input type="number" id="username" [(ngModel)]="passwordResetDto.otpCode" name="otp" required matInput placeholder="Email Code">
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="password" id="password" [(ngModel)]="passwordResetDto.newPassword" name="password" required placeholder="Password">
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="password" id="password2" name="password2" required placeholder="Re-Password">
            </mat-form-field>
            <button id="loginButton" (click)="resetPassword()" mat-raised-button type="submit" class="btn btn-info">Reset</button>
          </form>
        </div>
    </mat-card>
</div>