<button mat-button class="btn btn-primary" routerLink="/promotion">
    View Promotion
  </button>
  <hr>
  <br />
  
  <div class="lightgray-back form-container">
    <form class="row" [formGroup]="addPromotionForm" autocomplete="off">

       <!-- Select -->
       <mat-form-field
       class="col-5"
       appearance="fill"
     >
       <mat-label>Select Promotion Type</mat-label>
       <mat-select formControlName="oneAtATimeLock" required>
           <mat-option
           *ngFor="let item of isPromotionTypeSelect"
           value="{{ item.value }}"
           (click)="promotionType(item.value)"
           >{{ item.title }}</mat-option
         >
       </mat-select>
     </mat-form-field>

      <hr style="width: 100%" />

    <!-- Select Provider -->
    <mat-form-field
    class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
    appearance="fill"
    *ngIf="providerType"
  >
    <mat-label>Select Provider</mat-label>
    <mat-select formControlName="providerId">
      <mat-option
      *ngFor="let provider of providers"
      value="{{ provider.providerId }}"
      (click)="onProviderTypeSelectd(provider.providerId)"
      >{{ provider.providerName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

     <!-- minimum Order Price Level -->
    <mat-form-field
    class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
    appearance="fill"
  >
    <mat-label>Minimum Order Price Level</mat-label>
    <input
      matInput
      placeholder="Enter Minimum Order Price"
      type="text"
      formControlName="minimumOrderPriceLevel"
      required
    />
  </mat-form-field>

   <!-- Maximum Promotion Price Level -->
   <mat-form-field
   class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
   appearance="fill"
 >
   <mat-label>Minimum Order Price Level</mat-label>
   <input
     matInput
     placeholder="Enter Maximum Promotion Price"
     type="text"
     formControlName="maximumPromotionPriceLevel"
     required
   />
 </mat-form-field>

 <!-- Select Item -->
 <mat-form-field
 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
 appearance="fill"
>
 <mat-label>Select Item</mat-label>
 <mat-select formControlName="itemId" required>
   <mat-option
     *ngFor="let item of itemNameList"
     value="{{ item.itemId }}"
     >{{ item.itemName }}</mat-option
   >
 </mat-select>
</mat-form-field>

   <!-- Applide for Discount-->
   <mat-form-field
   class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
   appearance="fill"
 >
   <mat-label>Applide for Discount</mat-label>
   <mat-select formControlName="applideForDiscount" required>
       <mat-option
       *ngFor="let item of applideForDiscount"
       value="{{ item.value }}"
       >{{ item.title }}</mat-option
     >
   </mat-select>
 </mat-form-field>

 <!-- Percentage Off -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
      *ngIf="percentageOff"
    >
      <mat-label>Percentage Off</mat-label>
      <input
        matInput
        placeholder="Enter Percentage Off"
        type="text"
        formControlName="percentageOff"
        required
      />
    </mat-form-field>

    <!-- Fixd Price Off -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
      *ngIf="fixedOff"
    >
      <mat-label>Fixd Price Off</mat-label>
      <input
        matInput
        placeholder="Enter Fixd Price Off"
        type="text"
        formControlName="fixedOff"
        required
      />
    </mat-form-field>

    <!-- One At a Time Lock -->
   <mat-form-field
   class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
   appearance="fill"
 >
   <mat-label>One At a Time Lock</mat-label>
   <mat-select formControlName="oneAtATimeLock" required>
       <mat-option
       *ngFor="let item of oneAtATimeLock"
       value="{{ item.value }}"
       >{{ item.title }}</mat-option
     >
   </mat-select>
 </mat-form-field>

 <!-- Satart Date -->
 <mat-form-field
 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
 appearance="fill"
>
 <mat-label>Satart Date</mat-label>
 <input
   matInput
   placeholder="Select Start Date"
   type="datetime-local"
   formControlName="startDate"
   required
 />
</mat-form-field>

<!-- End Date -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
>
<mat-label>End Date</mat-label>
<input
  matInput
  placeholder="Select End Date"
  type="datetime-local"
  formControlName="endDate"
  required
/>
</mat-form-field>

 <!-- Combined To PromoCode -->
 <mat-form-field
 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
 appearance="fill"
 *ngIf="CombinedToPromoCode"
>
 <mat-label>Combined To PromoCode</mat-label>
 <mat-select formControlName="isCombinedToPromoCode" required>
     <mat-option
     *ngFor="let item of isCombinedToPromoCode"
     value="{{ item.value }}"
     >{{ item.title }}</mat-option
   >
 </mat-select>
</mat-form-field>

<!-- GiveAway Promotion -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="GiveAwayPromotion"
>
<mat-label>GiveAway Promotion</mat-label>
<mat-select formControlName="isGiveAwayPromotion" required>
    <mat-option
    *ngFor="let item of isGiveAwayPromotion"
    value="{{ item.value }}"
    >{{ item.title }}</mat-option
  >
</mat-select>
</mat-form-field>

<!-- Original Item Count -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="itemPurchaseCountForGiveAway"
>
<mat-label>Original Item Count</mat-label>
<input
  matInput
  placeholder="Enter Original Item Count"
  type="text"
  formControlName="originalItemCount"
  required
/>
</mat-form-field>

<!-- Give Away Item -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="giveAwayItemId"
>
<mat-label>Give Away Item</mat-label>
<mat-select formControlName="giveAwayItemId" required>
  <mat-option
    *ngFor="let item of itemNameList"
    value="{{ item.itemId }}"
    >{{ item.itemName }}</mat-option
  >
</mat-select>
</mat-form-field>

<!-- Give Away Item Count -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="giveAwayItemCount"
>
<mat-label>Give Away Item Count</mat-label>
<input
  matInput
  placeholder="Enter Give Away Item Count"
  type="text"
  formControlName="giveAwayItemCount"
  required
/>
</mat-form-field>

<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="LoyaltyPromo"
>
<mat-label>Loyalty Promo</mat-label>
<mat-select formControlName="isLoyaltyPromo" required>
    <mat-option
    *ngFor="let item of isLoyaltyPromo"
    value="{{ item.value }}"
    >{{ item.title }}</mat-option
  >
</mat-select>
</mat-form-field>

<!-- promotionDescription -->
<mat-form-field
class="col-12"
appearance="fill"
>
<mat-label>Promotion Description</mat-label>
<input
  matInput
  placeholder="Enter Promotion Description"
  type="text"
  formControlName="promotionDescription"
  required
/>
</mat-form-field>

<hr style="width: 100%" />

<!-- Promo Code -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="setPromoCode"
>
<mat-label>Promo Code </mat-label>
<input
  matInput
  placeholder="Enter Promo Code"
  type="text"
  formControlName="promoCode"
  required
/>
</mat-form-field>

<!-- usableCount -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="setPromoCode"
>
<mat-label> Usable Count </mat-label>
<input
  matInput
  placeholder="Enter Usable Count"
  type="number"
  formControlName="usableCount"
  required
/>
</mat-form-field>

<!-- leftUsableCount -->
<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="setPromoCode"
>
<mat-label> Left Usable Count </mat-label>
<input
  matInput
  placeholder="Enter Left Usable Count "
  type="number"
  formControlName="leftUsableCount"
  required
/>
</mat-form-field>

<mat-form-field
class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
appearance="fill"
*ngIf="setPromoCode"
>
<mat-label>Is Transferable</mat-label>
<mat-select formControlName="isTransferable" required>
    <mat-option
    *ngFor="let item of isTransferable"
    value="{{ item.value }}"
    >{{ item.title }}</mat-option
  >
</mat-select>
</mat-form-field>
  
      <hr style="width: 100%" />
  
      <!-- Submit Button -->
      <mat-card-actions class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <button
          class="btn btn-danger"
          mat-raised-button
          color="danger"
          type="submit"
          (click)= "onClear()"
          style="margin: 15px; padding: 5px 20px"
        >
          Clear
        </button>
        <button
          class="btn btn-sucess"
          mat-raised-button
          color="primary"
          type="submit"
          (click)= "onSubmit()"
          style="margin: 15px; padding: 5px 20px"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </div>
  