<mat-nav-list class="side-div">
  <!-- <h4 matSubheader>Pages</h4> -->

  <a *ngFor = "let resource of permissions; last as flase" mat-list-item routerLinkActive="list-item-active" routerLink="{{resource.routePath}}">
    <i class="{{resource.iconClass}} nav-icon"></i>
   {{resource.resourceName}}</a
  >

  <a *ngIf = "setSetingView" id="sideTitle" mat-list-item [matMenuTriggerFor]="menu" class="btn">
    <i class="fa fa-cog  nav-icon"></i>Settings
  </a>
  <mat-menu #menu="matMenu" style="width: 100%">
    <button
      *ngFor = "let resource of childPermission"
      class="btn mat-menu-btn custom-btn-1"
      routerLink="{{resource.routePath}}"
    >
      <i class="{{resource.iconClass}} nav-icon"></i>
      {{resource.resourceName}}
    </button>
  </mat-menu> 
  
</mat-nav-list>
