<mat-nav-list class="side-div">
  <!-- <h4 matSubheader>Pages</h4> -->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <i class="fa fa-tachometer nav-icon"></i>
    Dashboard</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/provider"
  >
    <i class="fa fa-arrow-circle-right nav-icon"></i>
    Provider</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/items"
  >
    <i class="fa fa-cart-plus nav-icon"></i>
    Items</a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/discount"
  >
    <i class="fa fa-money nav-icon"></i>
    Discount</a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/category"
  >
    <i class="fa fa-list nav-icon"></i>
    Category</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/banner"
  >
    <i class="fa fa-file-o  nav-icon"></i>
    Banner</a
  >
  <button id="sideTitle" mat-button [matMenuTriggerFor]="menu" class="btn">
    <i class="fa fa-cog  nav-icon"></i>Settings
  </button>
  <mat-menu #menu="matMenu" style="width: 100%">
    <button
      class="btn mat-menu-btn custom-btn-1"
      routerLink="/errors"
    >
      <i class="fa fa-exclamation-circle fa-lg nav-icon"></i>
      Errors
    </button>
    <button class="btn mat-menu-btn custom-btn-1" routerLink="/users">
      <i class="fa fa-user-circle-o fa-lg nav-icon"></i>
      Users
    </button>
  </mat-menu>
  <!-- <mat-divider></mat-divider> -->
</mat-nav-list>
<div class="side-footer col-12">
  <div class="col-12 clear-bs-mp">Logged in as:</div>
  <div class="col-12 clear-bs-mp">{{ currentUser }}</div>
</div>
