<button mat-button class="btn btn-primary" routerLink="/provider">
    View Provider
  </button>
  <br />
  <mat-divider></mat-divider>
  <br />
  
  <div class="lightgray-back form-container">
    <form class="row" [formGroup]="addProviderForm" autocomplete="off">
      <!-- Name -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter Name"
          type="text"
          autocomplete="off"
          formControlName="name"
          value="{{providerDetails.name}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Provider Type -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Provider Type</mat-label>
        <input
          matInput
          placeholder=""
          type="text"
          autocomplete="off"
          formControlName="location"
          required
          value="{{providerDetails.providerTypeName}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Location -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Location</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="location"
          value="{{providerDetails.locationName}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Address -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Address</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="address"
          value="{{providerDetails.address}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Phone Number -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="phone"
          value="{{providerDetails.callNumber}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Category Select -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Category</mat-label>
          <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="phone"
          value="{{providerDetails.categoryName}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Luxury Select -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Luxury Category</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="phone"
          value="{{luxuryCategoryName}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Tax Rate -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Tax Rate</mat-label>
        <input
          matInput
          placeholder="Enter Tax Rate"
          type="number"
          autocomplete="off"
          formControlName="taxRate"
          value="{{providerDetails.taxRate}}"
          readonly
        />
      </mat-form-field>
  
      <!-- Service Charge -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
        appearance="fill"
      >
        <mat-label>Service Charge</mat-label>
        <input
          matInput
          placeholder="Enter Service Charge"
          type="number"
          autocomplete="off"
          formControlName="serviceCharge"
          readonly
          value="{{providerDetails.serviceCharge}}"
        />
      </mat-form-field>
  
      <!-- Map -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9"
        appearance="fill"
      >
        <mat-label>Map URL</mat-label>
        <input
          matInput
          placeholder="Enter Map URL"
          type="text"
          autocomplete="off"
          formControlName="mapUrl"
          readonly
          value="{{providerDetails.mapUrl}}"
        />
      </mat-form-field>
  
      <hr style="width: 100%" />
  
      <!-- Logo Image -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <label class="col-12">Logo Image</label>
        <img [src]="providerDetails.logoImage" height="140" width="210" *ngIf="providerDetails.logoImage" />
      </div>
  
      <!-- Cover Image -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <label class="col-12">Cover Image</label>
        <img [src]="providerDetails.coverImage" height="140" width="210" *ngIf="providerDetails.coverImage" />
      </div>
  
      <!-- Banner Image -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <label class="col-12">Banner Image</label>
        <img [src]="providerDetails.bannerImage" height="140" width="210" *ngIf="providerDetails.bannerImage" />
      </div>
  
      <hr style="width: 100%" />
  
      <!-- Description -->
      <mat-form-field
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
        appearance="fill"
        style="margin-top: 0.5%"
      >
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          type="text"
          autocomplete="off"
          formControlName="description"
          readonly
          value="{{providerDetails.simpleDescription}}"
        />
      </mat-form-field>
  
      <hr style="width: 100%" />
  
      <!-- Facility -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
  
        <!-- Facility Table -->
        <table class="table" *ngIf="facilityArray.length != 0">
          <thead>
            <tr>
              <th scope="col" style="width: 40%">Title</th>
              <th scope="col" style="width: 50%">Description</th>
              <th scope="col" style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facility of facilityArray; let fIndex = index">
              <td scope="row">
                {{ providerDetails.facility.title }}
              </td>
              <td scope="row">
                {{ providerDetails.facility.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <hr style="width: 100%" />
  
      <!-- Policy -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
        <!-- Policy Table -->
        <table class="table" *ngIf="policyArray.length != 0">
          <thead>
            <tr>
              <th scope="col" style="width: 40%">Title</th>
              <th scope="col" style="width: 50%">Description</th>
              <th scope="col" style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of policyArray; let pIndex = index">
              <td scope="row">
                {{providerDetails.policy.title }}
              </td>
              <td scope="row">
                {{ providerDetails.policy.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <hr style="width: 100%" />
  
      <!-- Open Days -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <mat-label
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 label-custom"
          >Open Days</mat-label
        ><br />
  
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 40%">Day</th>
              <th scope="col" style="width: 30%">Is Open</th>
              <th scope="col" style="width: 15%">Open Time</th>
              <th scope="col" style="width: 15%">Close Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let day of dayList; let d = index">
              <td scope="row">
                {{ day.day }}
              </td>
              <td>
                <div class="col-12" appearance="fill">
                  <input
                    id="{{ day.day }}"
                    placeholder="Open"
                    type="checkbox"
                    [checked]="day.isOpen"
                    value="{{ day.isOpen }}"
                  />
                </div>
              </td>
              <td>
                <div class="col-12 td-cell" appearance="fill">
                  <input
                    id="{{ day.day }}Open"
                    class="time-select"
                    placeholder="Enter Time"
                    type="time"
                    [disabled]="!day.isOpen"
                  />
                </div>
              </td>
              <td>
                <div class="col-12 td-cell" appearance="fill">
                  <input
                    id="{{ day.day }}Close"
                    placeholder="Enter Time"
                    type="time"
                    [disabled]="!day.isOpen"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  