style {
  height: 40px;
}

ul li {
  list-style: none;
}

.mat-toolbar-multiple-rows {
  min-height: 40px;
}

.mat-toolbar-row {
  background-color: white;
  height: 56px;
}

.mat-icon-button {
  margin: 10px;
}

.header-name {
  color: #ffffff;
}

.header-toggle-button {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 8% !important;
}

.user-icon {
  color: rgba(255, 255, 255, 0.5);
}

// mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
//     border: 2px solid black;
//     padding: 1px 6px 1px 6px;
// }

.sign-out-icon {
  margin-right: 3%;
}

.mat-menu-btn {
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 2px;
}

.mat-menu-btn:hover {
  color: #ffffff;
}

.user-details {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: rgb(33, 37, 41);
  height: 35px;
  line-height: 35px;
  margin-top: -8px;
}
