<div>
  <h3 class="dashboard-title">Dashboard</h3>
  <app-widgets-area></app-widgets-area>
</div>
<!-- <div *ngIf = setDashboardForProvider>
  <h3 class="dashboard-title">Dashboard</h3>
  <app-provider-area></app-provider-area>
</div> -->

<br />

<!-- <mat-divider></mat-divider> -->

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards chart-div-container"
>
  <mat-card fxFlex="25">
    <app-widget-card label="Users" total="18" percentage="50"></app-widget-card>
  </mat-card>
</div>



<br />
<!-- 
<mat-divider></mat-divider>

<br> -->

<!-- <div>
    <div>Table</div>
    <div>Pie chart</div>
</div> -->
