<button mat-button class="btn btn-primary" routerLink="/category">
  View Category
</button>
<br />
<hr>
<br />

<div class="lightgray-back form-container">
  <form class="row" [formGroup]="addCategoryForm" autocomplete="off">
    <!-- Provider Type -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Select Provider Type</mat-label>
      <mat-select formControlName="providerType" required>
        <mat-option
          *ngFor="let item of providerTypeList"
          value="{{ item.value }}"
          >{{ item.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- Name -->
    <mat-form-field
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      appearance="fill"
    >
      <mat-label>Category Name</mat-label>
      <input
        matInput
        placeholder="Enter Category Name"
        type="text"
        formControlName="categoryName"
        required
      />
    </mat-form-field>

    <!-- Cover Image -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <label class="col-12">Upload Cover Image</label>
      <input
        type="file"
        name="cover"
        accept="image/*"
        (change)="onCoverSelected($event)"
        formControlName="cover"
      />
      <label class="col-12 err" *ngIf="coverIf">Please upload cover...</label>
      <img [src]="imgURLCover" height="120" width="180" *ngIf="imgURLCover" />
    </div>

    <hr style="width: 100%" />

    <!-- Submit Button -->
    <mat-card-actions class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <button
        class="btn btn-danger"
        mat-raised-button
        color="danger"
        type="submit"
        (click)="onClear()"
        style="margin: 15px; padding: 5px 20px"
      >
        Clear
      </button>
      <button
        class="btn btn-sucess"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
        style="margin: 15px; padding: 5px 20px"
      >
        Submit
      </button>
    </mat-card-actions>
  </form>
</div>
